<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.user.mapper.UserInformationMapper" >
  <resultMap id="BaseResultMap" type="com.yang.user.impl.pojo.VO.UserInformation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="risk_areas" property="riskAreas" jdbcType="INTEGER" />
    <result column="health" property="health" jdbcType="INTEGER" />
  </resultMap>
</mapper>